// Colors
// -- now defined in bs-custom --
// $primary: #e48663;
// $secondary: #00b0b0;
// $success: #99c24d;
// $info: #b489c7;
// $warning: #f4d35e;

$white: #fff;
$gray-100: #e8e8e8;
$gray-200: #cfcfcf;
$gray-300: #b5b5b5;
$gray-400: #9c9c9c;
$gray-500: #828282;
$gray-600: #696969;
$gray-700: #4f4f4f;
$gray-750: #404040;
$gray-800: #363636;
$gray-900: #242424;
$black: #000;

$light: $gray-200;
$dark: $gray-800;

// Create your own map
$custom-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// misc
$navbar-dark-color: rgba($white, 0.75);
$navbar-dark-hover-color: rgba($white, 0.9);
$navbar-dark-active-color: $white;
$navbar-dark-disabled-color: rgba($white, 0.45);
$navbar-dark-toggler-border-color: rgba($white, 0.3);
$component-active-bg: $primary;
