/* Bootstrap custom variable overrides */

// Typography
$font-size-base: 1.1rem;

$font-family-serif: "Source Serif Pro", "Iowan Old Style", "Apple Garamond",
  Baskerville, "Times New Roman", "Droid Serif", Times, serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

$font-family-brand: Righteous, system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;

$font-family-monospace: "JetBrains Mono", "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !important;

$font-family-base: $font-family-serif;

// Features
$enable-shadows: true;
$enable-negative-margins: true;
